<input type="radio" name="pg_time" value="T-N">特になし<br>
<input type="radio" name="pg_time" value="T-1any">09日(土)のどこでも
<input type="radio" name="pg_time" value="T-1am">09日(土)午前
<input type="radio" name="pg_time" value="T-1pm">09日(土)午後
<input type="radio" name="pg_time" value="T-1ngt">09日(土)夜<br>
<input type="radio" name="pg_time" value="T-2any">10日(日)のどこでも
<input type="radio" name="pg_time" value="T-2am">10日(日)午前
<input type="radio" name="pg_time" value="T-2pm">10日(日)午後<br>
<input type="radio" name="pg_time" value="T-wday">両日
<input type="radio" name="pg_time" value="T-X1">その他
    <input type="text" name="pg_time2" size="30"><br>

