<!DOCTYPE html>
<html lang="ja" ng-app="progRegist">
<head>
    <TMPL_INCLUDE NAME=metahead.tmpl.txt>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
</head>
<body><div class="wrap">

<TMPL_INCLUDE NAME=header.tmpl.txt>

<div class="content" ng-controller="progRegistController"><article>

<TMPL_INCLUDE NAME=bodytop.tmpl.txt>
<IMG SRC="images/Guide-p1.png" ALT="入力ガイド" WIDTH="520" HEIGHT="44"/>
<FORM method="post" role="form" name="pgrgform" id="pgrgform" novalidate action="./phase1.cgi">
    <input type="hidden" name="ID"      value="<TMPL_VAR NAME=ID>">
    <input type="hidden" name="_code"   value="application">
    <input type="hidden" name="orders"  value="<TMPL_VAR NAME=CONNAME>企画申し込み">
    <input type="hidden" name="self"    value="true">
    <h3>主催者情報</h3>
    <dl class="register"><table border="0" align="center" cellpadding="5">
        <tr >
            <th align="right">
                <font color="blue">※</font>お名前：
            </th>
            <td >
                <input type="text" name="p1_name" ng-model="pgrg.p1Name"
                  placeholder="例:S田F子"
                  size="30" style="ime-mode: active;" ng-required="true"/>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>メールアドレス：
            </th>
            <td><input type="email" name="email" ng-model="pgrg.email"
                  placeholder="例:foo@hoo.hee"
                  size="40" style="ime-mode: inactive;" ng-required="true"/>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font><TMPL_VAR NAME=CONNAME><TMPL_VAR NAME=REGNUMTIT>：
            </th>
            <td>
                <input type="text" name="reg_num" ng-model="pgrg.regNum"
                  placeholder="例:9999"
                  size="40" style="ime-mode: inactive;" ng-required="true">
            </td>
        </tr>
        <tr>
            <th align="right">
                お電話番号：
                <div class="rubytext">電話・携帯/PHS等について<br/>
                どちらか一方は入力してください</div>
            </th>
            <td>
                <input type="text" name="tel" ng-model="pgrg.tel"
                 size="30" ng-pattern="<TMPL_VAR NAME=TELNUMPAT>"
                 placeholder="例:01-2345-6789, +81 1-2345-6789"
                 ng-change="checktelcel()"
                 ng-required="reqchk.chktelcel"
                 style="ime-mode: inactive;"/>
            </td>
        </tr>
        <tr>
            <th align="right">
                携帯/PHS等：
            </th>
            <td>
                <input type="text" name="cellphone" ng-model="pgrg.celphone"
                 size="30" ng-pattern="<TMPL_VAR NAME=TELNUMPAT>"
                 placeholder="例:090-2345-6789 +81 90-2345-6789"
                 ng-change="checktelcel()"
                 ng-required="reqchk.chktelcel"
                 style="ime-mode: inactive;"/>
            </td>
        </tr>
        <tr>
            <th align="right">
                <div class="rubytext">電話連絡を希望する場合</div>連絡可能な時間帯：
            </th>
            <td>
                <input type="text" name="phonetime" ng-model="pgrg.phonetime"
                 placeholder="例:平日 20時から23時まで 土日祝 朝9時から23時まで"
                 size="60" style="ime-mode: active;"/>
            </td>
        </tr>
        <tr>
            <th align="right">
                FAX番号：
            </th>
            <td>
                <input type="text" name="fax" ng-model="pgrg.fax"
                 size="30" ng-pattern="<TMPL_VAR NAME=TELNUMPAT>"
                 placeholder="例:01-2345-6789, +81 1-2345-6789"
                 style="ime-mode: inactive;"/>
            </td>
        </tr>
    </table></dl>
    <h3>企画情報</h3> 
    <dl class="register"><table border="0" align="center" cellpadding="5">
        <tr>
            <th align="right" width = "120">
                <font color="blue">※</font>
                企画名称：
            </th>
            <td width = "450" >
                <input type="text" name="pg_name" ng-model="pgrg.pgName"
                 placeholder="例:日本SFの歴史"
                 size="60" style="ime-mode: active;" ng-required="true">
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                フリガナ：
            </th>
            <td>
                <input type="text" name="pg_name_f" ng-model="pgrg.pgNameF"
                 placeholder="例:ニホンエスエフノレキシ"
                 size="60" style="ime-mode: active;" ng-required="true"/>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                企画種別：
            </th>
            <td>
                <TMPL_INCLUDE NAME=prog_kind.tmpl>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                希望場所：
            </th>
            <td>
                <TMPL_INCLUDE NAME=prog_place.tmpl>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                希望日時：
            </th>
            <td>
                <TMPL_INCLUDE NAME=prog_time.tmpl>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                希望コマ数：
            </th>
            <td>
                <TMPL_INCLUDE NAME=prog_koma.tmpl>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                予想参加者：
            </th>
            <td>
                <TMPL_INCLUDE NAME=prog_ninzu.tmpl>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                未成年参加可否：
            </th>
            <td>
              <div ng-class="{invalid: reqchk.unsetPgu18}">
                <TMPL_LOOP NAME=KAFUKA_LOOP>
                  <input type="radio" name="pg_pgu18" ng-model="pgrg.pgPgu18"
                   ng-required="true"
                   value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
                </TMPL_LOOP>
              </div>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                一般公開可否：
            </th>
            <td>
              <div ng-class="{invalid: reqchk.unsetPggen}">
                <TMPL_LOOP NAME=KAFUKA_LOOP>
                  <input type="radio" name="pg_pggen" ng-model="pgrg.pgPggen"
                   ng-required="true"
                   value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
                </TMPL_LOOP>
              </div>
              <div class="commtext">
                大会参加者以外にも公開して良いかどうかを選択してください。
              </div>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                内容説明：
            </th>
            <td>
              <div ng-class="{invalid: reqchk.unsetNaiyouK}">
                <TMPL_LOOP NAME=NAIYOUK_LOOP>
                  <input type="radio" name="pg_naiyou_k"
                   ng-model="pgrg.pgNaiyouK"
                   ng-required="true"
                   value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
                </TMPL_LOOP>
              </div>
              <textarea name="pg_naiyou" ng-model="pgrg.pgNaiyou"
               cols="60" rows="5" ng-required="true"
               style="ime-mode: active;"></textarea>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                リアルタイム公開：
            </th>
            <td>
                <TMPL_INCLUDE NAME=prog_kiroku_kb.tmpl>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                事後公開：
            </th>
            <td>
                <TMPL_INCLUDE NAME=prog_kiroku_ka.tmpl>
            </td>
        </tr>
        <tr>
            <th rowspan="5" align="right">
                使用機材：
            </th>
            <td>
                <TMPL_INCLUDE NAME=prog_kizai_teikyo.tmpl>
            </td>
        </tr>
        <tr>
            <td>
                <TMPL_INCLUDE NAME=prog_kizai_youbou.tmpl>
            </td>
        </tr>
        <tr>
            <td>
                <TMPL_INCLUDE NAME=prog_kizai_motikomi.tmpl>
            </td>
        </tr>
        <tr>
            <td>
                <TMPL_INCLUDE NAME=prog_kizai_motipc.tmpl>
            </td>
        </tr>
        <tr>
            <td>
                <b>その他持ち込み予定機材</b><br/>
                映像機器、パソコン以外で持ち込む予定の機材を記載して下さい。<br/>
                電源容量の見積もりや企画場所決定の参考情報とします。<br/>
                なお、場合によっては持ち込みをご遠慮いただく場合があることをご了承下さい。
                <textarea name="fc_mochikomi" ng-model="pgrg.fcMochikomi"
                 cols="60" rows="3" style="ime-mode: active;"></textarea>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                企画を立てるのは:
            </th>
            <td>
              <div ng-class="{invalid: reqchk.unsetEnquete}">
                <TMPL_LOOP NAME=ENQUETE_LOOP>
                  <input type="radio" name="pg_enquete"
                    ng-model="pgrg.pgEnquete" ng-required="true"
                    value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
                </TMPL_LOOP>
              </div>
            </td>
        </tr>
        <tr>
            <th align="right" >
                重なると困る企画：
            </th>
            <td>
                具体的な企画名がわかっている場合はその名称を、<br/>
                そうでない場合は企画内容のジャンルなどを記述して下さい。<br/>
                <div class="commtext">
                    出演者のバッティングに関しては、下記出演者情報で調整しますので、ここに記載されなくても構いません。
                </div>
                <textarea name="pg_badprog" ng-model="pgrg.pgBadprog"
                 cols="60" rows="3" style="ime-mode: active;"></textarea>
            </td>
        </tr>
    </table></dl>
    <h3>出演者情報</h3> 
    ※出演者のうち、該当分野のプロであると実行委員会が判断した方はゲストとして案内状の発送をいたします。出演者のご職業や所属組織をお書き添えいただけると、判断しやすくなりますのでご協力をお願いします。<br/>
    先方の都合などにより、ご希望に添えない場合もございます。<br/>
    必ず読み仮名をご記入ください
    <dl class="register"><table border="0" align="center" cellpadding="5">
        <tr>
            <th width="200px">
                <font color="blue">※</font>
                企画申込者自身は出演
            </th>
            <td colspan="2">
              <div ng-class="{invalid: reqchk.unsetYouDo}">
                <TMPL_LOOP NAME=YOUDO_LOOP>
                  <input type="radio" name="youdo" ng-model="pgrg.youdo"
                    ng-required="true"
                    value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
                </TMPL_LOOP>
              </div>
            </td>
        </tr>
        <tr ng-if="pgrg.youdo=='YD-0'">
            <td align="right" >出演する場合</td>
            <th align="left" >出演者氏名/フリガナ</th>
            <th align="left" >肩書</th>
        </tr>
        <tr ng-if="pgrg.youdo=='YD-0'">
            <td align="right"></td>
            <td valign="middle">
                <input type="text" name="py_name" ng-model="pgrg.pyName"
                 size="30" style="ime-mode: active;" ng-required="true"/>
                <br/><br/>
                <input type="text" name="py_name_f" ng-model="pgrg.pyNameF"
                 size="30" style="ime-mode: active;" ng-required="true"/>
            </td>
            <td valign="middle">
                <textarea name="py_title" ng-model="pgrg.pyTitle"
                 cols="20" rows="2" style="ime-mode: active;"
                 ng-required="true"></textarea>
            </td>
        </tr>
    </table></dl>
    <dl class="register">
      <input type="text" ng-model="pgrg.ppGuestNum" ng-hide="true"
        name="pp_cnt" id="pp_cnt"/>
      <table border="0" align="center" cellpadding="5">
        <tbody id="addGuest">
          <tr>
            <th align="right" >No.</th>
            <th align="left" >出演者氏名/フリガナ</th>
            <th align="left" >出演者肩書</th>
            <th align="left" >出演交渉</th>
            <th align="left" >ゲスト申請</th>
          </tr>
          <TMPL_INCLUDE NAME=prog_guest.tmpl>
        </tbody>
      </table>
      <div ng-if="pgrg.ppGuestNum+1<<TMPL_VAR NAME=MAXGCNT>"
        <span><button type="button" class="btn" ng-click="AddppGuest()">
          出演者追加
        </button></span>
      </div>
    </dl>
    <h3>備考欄</h3> 
    <dl class="register"><table border="0" align="center" cellpadding="5">
        <tr>
            <th align="right">
              備考：
            </th>
            <td>
                その他、企画担当スタッフに伝えたい事柄<br/>
                <textarea name="fc_comment" ng-model="pgrg.fcComment"
                 cols="80" rows="3" style="ime-mode: active;"></textarea>
            </td>
        </tr>
    </table></dl>
    <div align="center">
      <input type="submit" name="submit" id="submitBtn" value="入力内容確認"
        ng-disabled="pgrgform.$invalid">
    </div>
</FORM>
</article></div>

<TMPL_INCLUDE NAME=footer.tmpl.txt>

</div>

<TMPL_INCLUDE NAME=phase1-js.tmpl.txt>
</body>
</html>
