<!DOCTYPE html>
<html lang="ja" ng-app="progRegist">
<head>
    <TMPL_INCLUDE NAME="metahead.tmpl.txt">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
</head>
<body><div class="wrap">

<TMPL_INCLUDE NAME="header.tmpl.txt">

<div class="content" ng-controller="progRegistController"><article>

<TMPL_INCLUDE NAME="bodytop.tmpl.txt">
<IMG SRC="images/Guide-p1.png" ALT="入力ガイド" WIDTH="520" HEIGHT="44"/>
<FORM method="post" role="form" name="pgrgform" id="pgrgform" novalidate action="./phase1.cgi">
    <input type="hidden" name="ID"      value="<TMPL_VAR NAME=ID>">
    <input type="hidden" name="_code"   value="application">
    <input type="hidden" name="orders"  value="<TMPL_VAR NAME=CONNAME>企画申し込み">
    <input type="hidden" name="self"    value="true">
    <h3>主催者情報</h3>
    <dl class="register"><table border="0" align="center" cellpadding="5">
        <tr >
            <th align="right">
                <font color="blue">※</font>お名前：
            </th>
            <td >
                <input type="text" name="p1_name" ng-model="pgrg.p1Name"
                  placeholder="例:S田F子"
                  size="30" style="ime-mode: active;" ng-required="true"/>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>メールアドレス：
            </th>
            <td><input type="email" name="email" ng-model="pgrg.email"
                  placeholder="例:foo@hoo.hee"
                  size="40" style="ime-mode: inactive;" ng-required="true"/>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font><TMPL_VAR NAME="CONNAME">番号：
            </th>
            <td>
                <input type="text" name="reg_num" ng-model="pgrg.regNum"
                  placeholder="例:9999"
                  size="40" style="ime-mode: inactive;" ng-required="true">
            </td>
        </tr>
        <tr>
            <th align="right">
                お電話番号：
                <div class="rubytext">電話・携帯/PHS等について<br/>
                どちらか一方は入力してください</div>
            </th>
            <td>
                <input type="text" name="tel" ng-model="pgrg.tel"
                 size="30" ng-pattern="/^[0-9]+[0-9\-]+[0-9]$/"
                 placeholder="例:99-9999-9999"
                 ng-change="checktelcel()"
                 ng-required="reqchk.chktelcel"
                 style="ime-mode: inactive;"/>
            </td>
        </tr>
        <tr>
            <th align="right">
                携帯/PHS等：
            </th>
            <td>
                <input type="text" name="cellphone" ng-model="pgrg.celphone"
                 size="30" ng-pattern="/^[0-9]+[0-9\-]+[0-9]$/"
                 placeholder="例:999-9999-9999"
                 ng-change="checktelcel()"
                 ng-required="reqchk.chktelcel"
                 style="ime-mode: inactive;"/>
            </td>
        </tr>
        <tr>
            <th align="right">
                <div class="rubytext">電話連絡を希望する場合</div>連絡可能な時間帯：
            </th>
            <td>
                <input type="text" name="phonetime" ng-model="pgrg.phonetime"
                 placeholder="例:平日 20時から23時まで 土日祝 朝9時から23時まで"
                 size="60" style="ime-mode: active;"/>
            </td>
        </tr>
        <tr>
            <th align="right">
                FAX番号：
            </th>
            <td>
                <input type="text" name="fax" ng-model="pgrg.fax"
                 size="30" ng-pattern="/^[0-9]+[0-9\-]+[0-9]$/"
                 placeholder="例:99-9999-9999"
                 style="ime-mode: inactive;"/>
            </td>
        </tr>
    </table></dl>
    <h3>企画情報</h3> 
    <dl class="register"><table border="0" align="center" cellpadding="5">
        <tr>
            <th align="right" width = "120">
                <font color="blue">※</font>
                企画名称：
            </th>
            <td width = "450" >
                <input type="text" name="pg_name" ng-model="pgrg.pgName"
                 placeholder="例:日本SFの歴史"
                 size="60" style="ime-mode: active;" ng-required="true">
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                フリガナ：
            </th>
            <td>
                <input type="text" name="pg_name_f" ng-model="pgrg.pgNameF"
                 placeholder="例:ニホンエスエフノレキシ"
                 size="60" style="ime-mode: active;" ng-required="true"/>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                企画種別：
            </th>
            <td>
                <TMPL_INCLUDE NAME="prog_kind.tmpl">
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                希望場所：
            </th>
            <td>
                <TMPL_INCLUDE NAME="prog_place.tmpl">
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                希望日時：
            </th>
            <td>
                <TMPL_INCLUDE NAME="prog_time.tmpl">
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                希望コマ数：
            </th>
            <td>
                <TMPL_INCLUDE NAME="prog_koma.tmpl">
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                予想参加者：
            </th>
            <td>
                <TMPL_INCLUDE NAME="prog_ninzu.tmpl">
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                未成年参加可否：
            </th>
            <td>
              <div ng-class="{invalid: reqchk.unsetPgu18}">
                <input type="radio" name="pg_pgu18" ng-model="pgrg.pgPgu18"
                 ng-required="true"
                 value="CX-0"/>可
                <input type="radio" name="pg_pgu18" ng-model="pgrg.pgPgu18"
                 value="CX-1"/>不可<br/>
              </div>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                一般公開可否：
            </th>
            <td>
              <div ng-class="{invalid: reqchk.unsetPggen}">
                <input type="radio" name="pg_pggen" ng-model="pgrg.pgPggen"
                 ng-required="true"
                 value="CX-0"/>可
                <input type="radio" name="pg_pggen" ng-model="pgrg.pgPggen"
                 value="CX-1"/>不可<br/>
                <div class="ruby">
                    大会参加者以外にも公開して良いかどうかを選択してください。
                </div>
              </div>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                内容説明：
            </th>
            <td>
              <div ng-class="{invalid: reqchk.unsetNaiyouK}">
                <input type="radio" name="pg_naiyou_k" ng-model="pgrg.pgNaiyouK"
                 ng-required="true"
                 value="CX-0"/>事前公開可
                <input type="radio" name="pg_naiyou_k" ng-model="pgrg.pgNaiyouK"
                 value="CX-1"/>事前公開不可<br/>
              </div>
              <textarea name="pg_naiyou" ng-model="pgrg.pgNaiyou"
               cols="60" rows="5" ng-required="true"
               style="ime-mode: active;"></textarea>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                リアルタイム公開：
            </th>
            <td>
                <TMPL_INCLUDE NAME="prog_kiroku_kb.tmpl">
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                事後公開：
            </th>
            <td>
                <TMPL_INCLUDE NAME="prog_kiroku_ka.tmpl">
            </td>
        </tr>
        <tr>
            <th rowspan="5" align="right">
                使用機材：
            </th>
            <td>
                <TMPL_INCLUDE NAME="prog_kizai_teikyo.tmpl">
            </td>
        </tr>
        <tr>
            <td>
                <TMPL_INCLUDE NAME="prog_kizai_youbou.tmpl">
            </td>
        </tr>
        <tr>
            <td>
                <TMPL_INCLUDE NAME="prog_kizai_motikomi.tmpl">
            </td>
        </tr>
        <tr>
            <td>
                <TMPL_INCLUDE NAME="prog_kizai_motipc.tmpl">
            </td>
        </tr>
        <tr>
            <td>
                <b>その他持ち込み予定機材</b><br/>
                映像機器、パソコン以外で持ち込む予定の機材を記載して下さい。<br/>
                電源容量の見積もりや企画場所決定の参考情報とします。<br/>
                なお、場合によっては持ち込みをご遠慮いただく場合があることをご了承下さい。
                <textarea name="fc_mochikomi" ng-model="pgrg.fcMochikomi"
                 cols="60" rows="3" style="ime-mode: active;"></textarea>
            </td>
        </tr>
        <tr>
            <th align="right">
                <font color="blue">※</font>
                企画を立てるのは:
            </th>
            <td>
              <div ng-class="{invalid: reqchk.unsetEnquete}">
                <input type="radio" name="pg_enquete" ng-model="pgrg.pgEnquete"
                 ng-required="true"
                 value="0"/>初めて
                <input type="radio" name="pg_enquete" ng-model="pgrg.pgEnquete" 
                 value="1"/>昨年に続いて2回目
                <input type="radio" name="pg_enquete" ng-model="pgrg.pgEnquete" 
                 value="2"/>継続して3～5回目
                <input type="radio" name="pg_enquete" ng-model="pgrg.pgEnquete" 
                 value="3"/>ひさしぶり
                <input type="radio" name="pg_enquete" ng-model="pgrg.pgEnquete"
                 value="4"/>6回目以上
              </div>
            </td>
        </tr>
        <tr>
            <th align="right" >
                重なると困る企画：
            </th>
            <td>
                具体的な企画名がわかっている場合はその名称を、<br/>
                そうでない場合は企画内容のジャンルなどを記述して下さい。<br/>
                <div class="commtext">
                    出演者のバッティングに関しては、下記出演者情報で調整しますので、ここに記載されなくても構いません。
                </div>
                <textarea name="pg_badprog" ng-model="pgrg.pgBadprog"
                 cols="60" rows="3" style="ime-mode: active;"></textarea>
            </td>
        </tr>
    </table></dl>
    <h3>出演者情報</h3> 
    ※出演者のうち、該当分野のプロであると実行委員会が判断した方はゲストとして案内状の発送をいたします。出演者のご職業や所属組織をお書き添えいただけると、判断しやすくなりますのでご協力をお願いします。<br/>
    先方の都合などにより、ご希望に添えない場合もございます。<br/>
    必ず読み仮名をご記入ください
    <dl class="register"><table border="0" align="center" cellpadding="5">
        <tr>
            <th width="200px">
                <font color="blue">※</font>
                企画申込者自身は出演
            </th>
            <td colspan="2">
              <div ng-class="{invalid: reqchk.unsetYouDo}">
                <input type="radio" name="youdo" ng-model="pgrg.youdo"
                 ng-required="true"
                 value="0"/>する
                <input type="radio" name="youdo" ng-model="pgrg.youdo"
                 value="1"/>しない
              </div>
            </td>
        </tr>
        <tr ng-if="pgrg.youdo=='0'">
            <td align="right" >出演する場合</td>
            <th align="left" >出演者氏名/フリガナ</th>
            <th align="left" >肩書</th>
        </tr>
        <tr ng-if="pgrg.youdo=='0'">
            <td align="right"></td>
            <td valign="middle">
                <input type="text" name="py_name" ng-model="pgrg.pyName"
                 size="30" style="ime-mode: active;" ng-required="true"/>
                <br/><br/>
                <input type="text" name="py_name_f" ng-model="pgrg.pyNameF"
                 size="30" style="ime-mode: active;" ng-required="true"/>
            </td>
            <td valign="middle">
                <textarea name="py_title" ng-model="pgrg.pyTitle"
                 cols="20" rows="2" style="ime-mode: active;"
                 ng-required="true"></textarea>
            </td>
        </tr>
    </table></dl>
    <dl class="register">
      <input type="text" ng-model="pgrg.ppGuestNum" ng-hide="true"
        name="pp_cnt" id="pp_cnt"/>
      <table border="0" align="center" cellpadding="5">
        <tbody id="addGuest">
          <tr>
            <td colspan="5">
              <button type="button" class="btn" ng-click="AddppGuest()">
                出演者追加
              </button>
            </td>
          </tr>
          <tr>
            <th align="right" >No.</th>
            <th align="left" >出演者氏名/フリガナ</th>
            <th align="left" >出演者肩書</th>
            <th align="left" >出演交渉</th>
            <th align="left" >ゲスト申請</th>
          </tr>
<!-- 出演者情報入力欄 -->
<div ng-repeat='i in range("<TMPL_VAR NAME=MAXGCNT>")'>
  <!-- <tr ng-if="{{i.p}}<=pgrg.ppGuestNum"> -->
  <tr>
    <td align="right">{{$index}}</td>
    <td valign="middle">
        <!-- <input type="text" ng-model="{{i.nameModel}}"  -->
      <input type="text">
        name="{{i.nameId}}" id="{{i.nameId}}"
        placeholder="例:カーティス・ニュートン"
        size="30" style="ime-mode: active;"/><br/>
      <input type="text" ng-model="{{i.namefModel}}"
        name="{{i.namefId}}" id="{{i.namefId}}"
        placeholder="例:カーティス・ニュートン"
        <-- ng-required="{{i.nameModel}}" -->
        size="30" style="ime-mode: active;"/>
    </td>
    <td valign="middle">
      <textarea ng-model="{{i.titleModel}}"
        name="{{i.titleId}}" id="{{i.titleId}}"
        placeholder="例:キャプテン・フューチャー"
        <-- ng-required="{{i.nameModel}}" -->
        cols="20" rows="2" style="ime-mode: active;"></textarea>
    </td>
    <td id="{{i.conId}}">
      <div ng-class="{{i.conClass}}">
        <input type="radio" ng-model="{{i.conModel}}"
          <!-- ng-required="{{i.nameModel}}"-->
          ng-change="radioAryChg( {{i.conModel}}, 'unsetppGcon', {{i.idx}} )"
          name="{{i.conId}}" value="PP-A"/>交渉を大会に依頼<br/>
        <input type="radio" ng-model="{{i.conModel}}"
          ng-change="radioAryChg( {{i.conModel}}, 'unsetppGcon', {{i.idx}} )"
          name="{{i.conId}}" value="PP-B1"/>出演了承済<br/>
        <input type="radio" ng-model="{{i.conModel}}"
          ng-change="radioAryChg( {{i.conModel}}, 'unsetppGcon', {{i.idx}} )"
          name="{{i.conId}}" value="PP-B2"/>交渉中<br/>
        <input type="radio" ng-model="{{i.conModel}}"
          ng-change="radioAryChg( {{i.conModel}}, 'unsetppGcon', {{i.idx}} )"
          name="{{i.conId}}" value="PP-B3"/>未交渉<br/>
      </div>
    </td>
    <td id="{{i.grqId}}">
      <div ng-class="{{i.grqClass}}">
        <input type="radio" ng-model="{{i.grqModel}}"
          <!-- ng-required="{{i.nameModel}}" -->
          ng-change="radioAryChg( {{i.grqModel}}, 'unsetppGgrq', {{i.idx}} )"
          name="{{i.grpId}}" value="PP-A"/>する<br/>
        <input type="radio" ng-model="{{i.grqModel}}"
          ng-change="radioAryChg( {{i.grqModel}}, 'unsetppGgrq', {{i.idx}} )"
          name="{{i.grpId}}" value="PP-B"/>しない
      </div>
    </td>
  </tr>
</div>
<!-- 出演者情報入力欄 -->
        </tbody>
      </table>
    </dl>
    <h3>備考欄</h3> 
    <dl class="register"><table border="0" align="center" cellpadding="5">
        <tr>
            <th align="right">
              備考：
            </th>
            <td>
                その他、企画担当スタッフに伝えたい事柄<br/>
                <textarea name="fc_comment" ng-model="pgrg.fcComment"
                 cols="80" rows="3" style="ime-mode: active;"></textarea>
            </td>
        </tr>
    </table></dl>
    <div align="center">
      <input type="submit" name="submit" id="submitBtn" value="入力内容確認"
        ng-disabled="pgrgform.$invalid">
    </div>
</FORM>
</article></div>

<TMPL_INCLUDE NAME="footer.tmpl.txt">

</div>

<script type="text/javascript">
  // ProgRegモジュールの生成
  var ProgRegModule = angular.module('progRegist', [ ] );

  // 企画登録コントローラ
  ProgRegModule.controller( 'progRegistController',
    [ '$scope', '$compile',
      function( $scope, $compile ) {
        // ng-Changeハンドラ
        $scope.checktelcel = function() {
            if ( ( !$scope.pgrg.tel || $scope.pgrg.tel.length == 0 ) &&
                 ( !$scope.pgrg.celphone || $scope.pgrg.celphone.length == 0 )
               ) {
                $scope.reqchk.chktelcel = true;
            } else {
                $scope.reqchk.chktelcel = false;
            }
        };
        $scope.radioAryChg = function( val, unset, no ) {
            if ( val ) { $scope.reqchk[unset][no] = false; }
        };

        // 監視設定
        $scope.$watch('pgrg.pgKind', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetKind = false; }
        });
        $scope.$watch('pgrg.pgPlace', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetPlace = false; }
        });
        $scope.$watch('pgrg.pgLayout', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetLayout = false; }
        });
        $scope.$watch('pgrg.pgTime', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetTime = false; }
        });
        $scope.$watch('pgrg.pgKoma', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetKoma = false; }
        });
        $scope.$watch('pgrg.pgNinzu', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetNinzu = false; }
        });
        $scope.$watch('pgrg.pgPgu18', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetPgu18 = false; }
        });
        $scope.$watch('pgrg.pgPggen', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetPggen = false; }
        });
        $scope.$watch('pgrg.pgNaiyouK', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetNaiyouK = false; }
        });
        $scope.$watch('pgrg.pgKirokuKb', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetKirokuKb = false; }
        });
        $scope.$watch('pgrg.pgKirokuKa', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetKirokuKa = false; }
        });
        $scope.$watch('pgrg.fcVid', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetFcVid = false; }
        });
        $scope.$watch('pgrg.avV', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetAvV = false; }
        });
        $scope.$watch('pgrg.avA', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetAvA = false; }
        });
        $scope.$watch('pgrg.fcPc', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetFcPc = false; }
        });
        $scope.$watch('pgrg.pcV', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetPcV = false; }
        });
        $scope.$watch('pgrg.pcA', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetPcA = false; }
        });
        $scope.$watch('pgrg.lan', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetLan = false; }
        });
        $scope.$watch('pgrg.pgEnquete', function( n, o, scope ) {
            if ( n ) { scope.reqchk.unsetEnquete = false; }
        });

        $scope.$watch('pgrg.youdo', function( n, o, scope ) {
          if ( n ) {
            scope.reqchk.unsetYouDo = false;
          }
          if ( ( n == '0' ) && ( scope.pgrg.pyName == '' ) ){
            scope.pgrg.pyName = scope.pgrg.p1Name;
          }
        });

        // パラメータ定義
        $scope.pgrg = {
      //      phase1-tmpl.html
          p1Name :          '<TMPL_VAR NAME=p1_name>',
          email :           '<TMPL_VAR NAME=email>',
          regNum :          '<TMPL_VAR NAME=reg_num>',
          tel :             '<TMPL_VAR NAME=tel>',
          fax :             '<TMPL_VAR NAME=fax>',
          celphone :        '<TMPL_VAR NAME=cellphone>',
          phonetime :       '<TMPL_VAR NAME=phonetime>',
          pgName :          '<TMPL_VAR NAME=pg_name>',
          pgNameF :         '<TMPL_VAR NAME=pg_name_f>',
      //      prog_kind.tmpl
          pgKind :          '<TMPL_VAR NAME=pg_kind>',
          pgKind2 :         '<TMPL_VAR NAME=pg_kind2>',
      //      prog_place.tmpl
          pgPlace :         '<TMPL_VAR NAME=pg_place>',
          pgPlace2 :        '<TMPL_VAR NAME=pg_place2>',
          pgLayout :        '<TMPL_VAR NAME=pg_layout>',
          pgLayout2 :       '<TMPL_VAR NAME=pg_layout2>',
      //      prog_time.tmpl
          pgTime :          '<TMPL_VAR NAME=pg_time>',
          pgTime2 :         '<TMPL_VAR NAME=pg_time2>',
      //      prog_koma.tmpl
          pgKoma :          '<TMPL_VAR NAME=pg_koma>',
          pgKoma2 :         '<TMPL_VAR NAME=pg_koma2>',
      //      prog_ninzu.tmpl
          pgNinzu :         '<TMPL_VAR NAME=pg_ninzu>',
      //      phase1-tmpl.html
          pgPgu18 :         '<TMPL_VAR NAME=pg_pgu18>',
          pgPggen :         '<TMPL_VAR NAME=pg_pggen>',
          pgNaiyouK :       '<TMPL_VAR NAME=pg_naiyou_k>',
          pgNaiyou :        '<TMPL_VAR NAME=pg_naiyou>',
      //      prog_kiroku_kb.tmpl
          pgKirokuKb :      '<TMPL_VAR NAME=pg_kiroku_kb>',
      //      prog_kiroku_ka.tmpl
          pgKirokuKa :      '<TMPL_VAR NAME=pg_kiroku_ka>',
      //      prog_kizai_teikyo.tmpl
          wbd :             '<TMPL_VAR NAME=wbd>',
          mic :             '<TMPL_VAR NAME=mic>',
          miccnt :          '<TMPL_VAR NAME=miccnt>',
          mic2 :            '<TMPL_VAR NAME=mic2>',
          miccnt2 :         '<TMPL_VAR NAME=mic2cnt>',
          mon :             '<TMPL_VAR NAME=mon>',
          dvd :             '<TMPL_VAR NAME=dvd>',
          syo :             '<TMPL_VAR NAME=syo>',
      //      prog_kizai_youbou.tmpl
          fcOther :         '<TMPL_VAR NAME=fc_other_naiyou>',
      //      prog_kizai_motikomi.tmpl
          fcVid :           '<TMPL_VAR NAME=fc_vid>',
          avV :             '<TMPL_VAR NAME=av-v>',
          avVelse :         '<TMPL_VAR NAME=av-v_velse>',
          avA :             '<TMPL_VAR NAME=av-a>',
          avAelse :         '<TMPL_VAR NAME=av-a_velse>',
      //      prog_kizai_motipc.tmpl
          fcPc :            '<TMPL_VAR NAME=fc_pc>',
          pcV :             '<TMPL_VAR NAME=pc-v>',
          pcVelse :         '<TMPL_VAR NAME=pc-v_velse>',
          pcA :             '<TMPL_VAR NAME=pc-a>',
          pcAelse :         '<TMPL_VAR NAME=pc-a_velse>',
          lan :             '<TMPL_VAR NAME=lan>',
          lanelse :         '<TMPL_VAR NAME=pc-l_velse>',
          lanreason :       '<TMPL_VAR NAME=lanreason>',
      //      phase1-tmpl.html
          fcMochikomi :     '<TMPL_VAR NAME=fc_mochikomi>',
          pgEnquete :       '<TMPL_VAR NAME=pg_enquete>',
          pgBadprog :       '<TMPL_VAR NAME=pg_badprog>',
          youdo :           '<TMPL_VAR NAME=youdo>',
          pyName :          '<TMPL_VAR NAME=py_name>',
          pyNameF :         '<TMPL_VAR NAME=py_name_f>',
          pyTitle :         '<TMPL_VAR NAME=py_title>',
          ppGuestNum :      '<TMPL_VAR NAME=pp_cnt>',
          ppGuest :   [
                          {
                            name :  '',
                            namef : '',
                            title : '',
                            con :   '',
                            grq :   '',
                          }
                      ],
          fcComment :     '<TMPL_VAR NAME=fc_comment>',
        };
        // 必須チェックフラグ(radio)定義
        $scope.reqchk = {
          chktelcel :       true,
          unsetKind :       true,
          unsetPlace :      true,
          unsetLayout :     true,
          unsetTime :       true,
          unsetKoma :       true,
          unsetNinzu :      true,
          unsetPgu18 :      true,
          unsetPggen :      true,
          unsetNaiyouK :    true,
          unsetKirokuKb :   true,
          unsetKirokuKa :   true,
          unsetFcVid :      true,
          unsetAvV :        true,
          unsetAvA :        true,
          unsetFcPc :       true,
          unsetPcV :        true,
          unsetPcA :        true,
          unsetLan :        true,
          unsetEnquete :    true,
          unsetYouDo :      true,
          unsetppGcon :     [ true ],
          unsetppGgrq :     [ true ],
        };
        // 出演者情報loopのための配列作成関数定義
        $scope.range = function(n) {
          var arr = [];
          for (var i=0; i<n; ++i) {
            var j = i + 1;
            arr.push(
            {
              idx:          i,
              nameModel:    'pgrg.ppGuest[' + i + '].name',
              nameId:       'pp' + j + '_name',
              namefModel:   'pgrg.ppGuest[' + i + '].namef',
              namefId:      'pp' + j + '_name_f',
              titleModel:   'pgrg.ppGuest[' + i + ']title',
              titleId:      'pp' + j + '_title',
              conModel:     'pgrg.ppGuest[' + i + ']con',
              conId:        'pp' + j + '_con',
              conClass:     '{invalid: pgrg.ppGuest[' + i + '].name && reqchk.unsetppGcon[' + i + ']}',
              grqModel:     'pgrg.ppGuest[' + i + ']grq',
              grqId:        'pp' + j + '_grq',
              grqClass:     '{invalid: pgrg.ppGuest[' + i + '].name && reqchk.unsetppGgrq[' + i + ']}',
            })
          }
          return arr;
        };

        // 出演者欄追加
        $scope.AddppGuest = function() {
          $scope.pgrg.ppGuestNum += 1;
        };

        // 初期値設定
        (function() {
          $scope.checktelcel();
          if ( $scope.pgrg.fcVid == '' ) { $scope.pgrg.fcVid = '1'; }
          if ( $scope.pgrg.fcPc  == '' ) { $scope.pgrg.fcPc  = '1'; }
          if ( $scope.pgrg.ppGuestNum == '' ) { $scope.pgrg.ppGuestNum = 0; };
        })();
      }
    ]
  );
</script>
</body>
</html>
