<div ng-class="{invalid: reqchk.unsetPlace}">
  <input type="radio" ng-model="pgrg.pgPlace" name="pg_place"
    ng-required="true"
    value="P-N"/>特になし
  <input type="radio" ng-model="pgrg.pgPlace" name="pg_place"
    value="P-C1"/>和室
  <input type="radio" ng-model="pgrg.pgPlace" name="pg_place"
    value="P-H1"/>ホール<br/>
  <input type="radio" ng-model="pgrg.pgPlace" name="pg_place"
    value="P-X1"/>その他
  <span ng-if="pgrg.pgPlace=='P-X1'">
    <input type="text" ng-model="pgrg.pgPlace2" name="pg_place2"
      size="30" style="ime-mode: active;" ng-required="true"/>
  </span>
</div>
<br/>
希望レイアウト
<div ng-class="{invalid: reqchk.unsetLayout}">
  <input type="radio" ng-model="pgrg.pgLayout" name="pg_layout"
    ng-required="true"
    value="0"/>座布団のみ(和室)
  <input type="radio" ng-model="pgrg.pgLayout" name="pg_layout"
    value="1"/>寺子屋(和室に低い机)<br/>
  <input type="radio" ng-model="pgrg.pgLayout" name="pg_layout"
    value="9"/>その他
  <span ng-if="pgrg.pgLayout==9">
    <input type="text" ng-model="pgrg.pgLayout2" name="pg_layout2"
      size="30" style="ime-mode: active;" ng-required="true"/>
  </span>
</div>
<div class="commtext">
  会議室は<TMPL_VAR NAME=DEFLAYOUT>形式が基本となります。
</div>
