<div ng-class="{invalid: reqchk.unsetNinzu}"
  class="<TMPL_VAR NAME=pg_ninzu_fail>">
  <TMPL_LOOP NAME=NINZU_LOOP>
    <input type="radio" ng-model="pgrg.pgNinzu" name="pg_ninzu"
      ng-required="true"
      value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
  </TMPL_LOOP>
</div>
