<div ng-class="{invalid: reqchk.unsetKind}"
  class="<TMPL_VAR NAME=pg_kind_fail> <TMPL_VAR NAME=pg_kind2_fail>">
  <TMPL_LOOP NAME=KIND_LOOP>
    <input type="radio" ng-model="pgrg.pgKind" name="pg_kind"
      ng-required="true"
      value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
  </TMPL_LOOP>
  <span ng-if="pgrg.pgKind=='other'">
    <input type="text" ng-model="pgrg.pgKind2" name="pg_kind2"
     size="30" style="ime-mode: active;" ng-required="true"/>
  </span>
</div>
