<b>持ち込み映像機器</b><br />
大会が用意するプロジェクタまたは大型モニタに接続する機材を持ち込むかどうかと、<br/>
その接続方式を記載して下さい。<br>
<div class="commtext">
    接続方式によっては、大会が用意する方式への変換ケーブルやコンバータも持ち込んで頂く場合があります。
</div>
<div>
  <div ng-class="{invalid: reqchk.unsetFcVid}">
    <TMPL_LOOP NAME=MOTIKOMI_LOOP>
      <input type="radio" ng-model="pgrg.fcVid" name="fc_vid"
        ng-required="true"
        value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
    </TMPL_LOOP>
  </div>
</div>
<P/>
<div ng-if="pgrg.fcVid=='MT-0'">
  <div class="risttext">以下持ち込む場合のみ</div>
  <div class="indent">
    <div id="av-v" class="spacing">
      <b>映像接続形式</b><br/>
      <div ng-class="{invalid: reqchk.unsetAvV}">
        <TMPL_LOOP NAME=AV_V_LOOP>
          <input type="radio" ng-model="pgrg.avV" name="av-v"
            ng-required="true"
            value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
        </TMPL_LOOP>
        <span ng-if="pgrg.avV=='other'">
          <input type="text" ng-model="pgrg.avVelse" name="av-v_velse" size="30" style="ime-mode: active;" ng-required="true"/>
        </span><br/>
      </div>
    </div>
    <div id="av-a" class="spacing">
      <b>音声接続形式</b>
      <div ng-class="{invalid: reqchk.unsetAvA}">
        <span class="commtext">HDMIで映像と音声を伝送する場合は、不要を選んで下さい</span><br/>
        <TMPL_LOOP NAME=AV_A_LOOP>
          <input type="radio" ng-model="pgrg.avA" name="av-a"
            ng-required="true"
            value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
        </TMPL_LOOP>
        <span ng-if="pgrg.avA=='other'">
            <input type="text" ng-model="pgrg.avAelse" name="av-a_velse" size="30" style="ime-mode: active;" ng-required="true"/>
        </span><br/>
      </div>
    </div>
  </div>
</div>
