<div ng-class="{invalid: reqchk.unsetTime}"
  class="<TMPL_VAR NAME=pg_time_fail> <TMPL_VAR NAME=pg_time2_fail>">
  <TMPL_LOOP NAME=TIME_LOOP>
    <input type="radio" ng-model="pgrg.pgTime" name="pg_time"
      ng-required="true"
      value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
  </TMPL_LOOP>
  <span ng-if="pgrg.pgTime=='other'">
    <input type="text" ng-model="pgrg.pgTime2" name="pg_time2" size="30"
      style="ime-mode: active;" ng-required="true"/>
  </span><br/>
</div>
