<div ng-class="{invalid: reqchk.unsetKirokuKa}">
<input type="radio" ng-model="pgrg.pgKirokuKa" name="pg_kiroku_ka"
  ng-change="radioChg( pgrg.pgKirokuKa, 'unsetKirokuKa' )"
  value="CX-0"/>UST等動画を含む全て許可<br/>
<input type="radio" ng-model="pgrg.pgKirokuKa" name="pg_kiroku_ka"
  ng-change="radioChg( pgrg.pgKirokuKa, 'unsetKirokuKa' )"
  value="CX-1"/>blog等テキストと静止画公開可<br/>
<input type="radio" ng-model="pgrg.pgKirokuKa" name="pg_kiroku_ka"
  ng-change="radioChg( pgrg.pgKirokuKa, 'unsetKirokuKa' )"
  value="CX-2"/>テキストのみ公開可<br/>
<input type="radio" ng-model="pgrg.pgKirokuKa" name="pg_kiroku_ka"
  ng-change="radioChg( pgrg.pgKirokuKa, 'unsetKirokuKa' )"
  value="CX-3"/>公開不可<br/>
<input type="radio" ng-model="pgrg.pgKirokuKa" name="pg_kiroku_ka"
  ng-change="radioChg( pgrg.pgKirokuKa, 'unsetKirokuKa' )"
  value="CX-9" />その他<br/>
</div>
