<b>持ち込みパソコン</b><br />
企画で使用するパソコンを持ち込むかどうかと、接続形式などを記載して下さい。<br/>
<div class="commtext">
  接続方式によっては、大会が用意する方式への変換ケーブルやコンバータも持ち込んで頂く場合があります。<br/>
  特にMacの場合、HDMIあるいはD-Sub15への変換ケーブルは各自用意し、どちらへの変換であるかを記載して下さい。
</div>
<div ng-class="{invalid: reqchk.unsetFcPc}"
  class="<TMPL_VAR NAME=fc_pc_fail>">
  <TMPL_LOOP NAME=MOTIKOMI_LOOP>
    <input type="radio" ng-model="pgrg.fcPc" name="fc_pc"
      ng-required="true"
      value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
  </TMPL_LOOP>
</div>
<P/>
<div ng-if="pgrg.fcPc=='MT-0'">
  <div class="risttext">以下持ち込む場合のみ</div>
    <div class="indent">
      <div id="pc-v" class="spacing">
        <b>映像接続形式</b><br/>
        <div ng-class="{invalid: reqchk.unsetPcV}"
          class="<TMPL_VAR NAME=pc-v_fail> <TMPL_VAR NAME=pc-v_velse_fail>">
          <TMPL_LOOP NAME=PC_V_LOOP>
            <input type="radio" ng-model="pgrg.pcV" name="pc-v"
              ng-required="true"
              value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
          </TMPL_LOOP>
          <span ng-if="pgrg.pcV=='other'">
            <input type="text" ng-model="pgrg.pcVelse" name="pc-v_velse"
              size="30" style="ime-mode: active;" ng-required="true"/>
          </span><br/>
        </div>
      </div>
      <div id="pc-a" class="spacing">
        <b>音声接続形式</b>
        <div ng-class="{invalid: reqchk.unsetPcA}"
          class="<TMPL_VAR NAME=pc-a_fail> <TMPL_VAR NAME=pc-a_velse_fail>">
          <span class="commtext">
            HDMIで映像と音声を伝送する場合は、不要を選んで下さい</span><br/>
          <TMPL_LOOP NAME=PC_A_LOOP>
            <input type="radio" ng-model="pgrg.pcA" name="pc-a"
              ng-required="true"
              value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
          </TMPL_LOOP>
          <span ng-if="pgrg.pcA=='other'">
            <input type="text" ng-model="pgrg.pcAelse" name="pc-a_velse"
              size="30" style="ime-mode: active;" ng-required="true"/>
          </span><br/>
        </div>
      </div>
      <div id="lan" class="spacing">
        <b>インタネット接続形式</b><br/>
        <div ng-class="{invalid: reqchk.unsetLan}"
          class="<TMPL_VAR NAME=lan_fail> <TMPL_VAR NAME=pc-l_velse_fail>">
          <TMPL_LOOP NAME=LAN_LOOP>
            <input type="radio" ng-model="pgrg.lan" name="lan"
              ng-required="true"
              value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
          </TMPL_LOOP>
          <span ng-if="pgrg.lan=='other'">
            <input type="text" ng-model="pgrg.lanelse" name="pc-l_velse"
              size="30" style="ime-mode: active;" ng-required="true"/>
          </span><br/>
          <div ng-if="pgrg.lan && pgrg.lan!='none'"
            class="<TMPL_VAR NAME=lanreason_fail>">
            <div class="indent spacing">
              <b>インタネット利用方法</b>(接続する場合)
              <div class="commtext">
                有線を希望される場合は、有線LANが必要な理由も記載して下さい
              </div>
              <textarea ng-model="pgrg.lanreason" name="lanreason"
               cols="60" rows="3" style="ime-mode: active;"
               ng-required="true"></textarea><br/>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- indent -->
  </div> <!-- risttext -->
</div> <!-- ng-if -->
