<div ng-class="{invalid: reqchk.unsetPlace}">
  <TMPL_LOOP NAME=PLACE_LOOP>
    <input type="radio" ng-model="pgrg.pgPlace" name="pg_place"
      ng-required="true"
      value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
  </TMPL_LOOP>
  <span ng-if="pgrg.pgPlace=='other'">
    <input type="text" ng-model="pgrg.pgPlace2" name="pg_place2"
      size="30" style="ime-mode: active;" ng-required="true"/>
  </span>
</div>
<br/>
希望レイアウト
<div ng-class="{invalid: reqchk.unsetLayout}">
  <TMPL_LOOP NAME=LAYOUT_LOOP>
    <input type="radio" ng-model="pgrg.pgLayout" name="pg_layout"
      ng-required="true"
      value="<TMPL_VAR NAME=VAL>"/><TMPL_VAR NAME=DISP>
  </TMPL_LOOP>
  <span ng-if="pgrg.pgLayout=='other'">
    <input type="text" ng-model="pgrg.pgLayout2" name="pg_layout2"
      size="30" style="ime-mode: active;" ng-required="true"/>
  </span>
</div>
<div class="commtext">
  会議室は<TMPL_VAR NAME=DEFLAYOUT>形式が基本となります。
</div>
